<h1>Demande d'accès au dashboard Start-Zup</h1>

<h3>Vous avez reçu une demande d'accès au dashboard du site web start-zup.com de la part de <span style="color: blue;"> {{ userFstName }} {{ userLstName }}</span>.</h3>

<p>
    Pour valider cette demande, cliquez sur le lien ci-dessous: <br><br>
    <a href="{{ signedUrl|raw }}">J'autorise l'accès au dashboard</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Le support Start-Zup
</p>
