{% extends 'base.html.twig' %}

{% block title %}Nouvel article{% endblock %}

{% block body %}
    <h1 class="text-center">Nouvel article</h1>

    {{ include('post/_form.html.twig') }}

    <a href="{{ path('app_post_index') }}">Retour à la liste</a>
{% endblock %}
